
	#space {
		width:250px;
		background-color: white;
		color:#2c3e50 !important;
		text-align: center;
			}

	#sidebar{

	
		background-color: white;
		float:left;
	
		margin-top:0;
		margin-bottom: 0;
		width:auto ;
		max-height: 100% !important;
		min-height:100%	!important;
		border-right:1px solid #ecf0f1 ;
		
	}

.navbar{

	background-color: white !important;
	border-bottom: 1px solid #ecf0f1 !important;
    border-radius: 5px !important;
	color:white !important;
	 background-image: none !important;




}
a{

	text-decoration: none !important;
	box-sizing:border-box !important;


}

ul#sidenav li{
	list-style:none!important;
	

}


ul#sidenav li a{
	color: #424242;
	display: block;
	padding: 15px;
	
		
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-ms-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;


}
ul#sidenav li a.selected {
	margin-top: 15px;
	background-color: #ecf0f1;
	color: #34495e;
	border-radius: 7px;


}
ul#sidenav li a:hover{
	margin-top: 10px;
	background-color: #ecf0f1;
	border: 1px solid #ecf0f1;
	border-radius: 5px;

	color: #34495e;
	padding-left: 30px;
}

.red{

	
	color:#33b5e5 !important; 
}
.content-panel{

	padding:15px;

}

.breadcrumb {

	background: none !important;
	 border: 1px solid #dddddd !important;
    border-radius: 1;
}

