*{
	margin: 0;
	padding:0;

}

div#header{
	height: 70px;
	background-color: rgba(255,255,255,0.7);
	
	border-bottom-right-radius:5px;
	
	border-right: 1px solid #3498db;
	border-bottom: 1px solid #3498db;
}


a{

	text-decoration: none !important;
	box-sizing:border-box;
}

.logo{

	
	margin-top:15px;
	margin-left: 0px;


}

.logo a{
	font-size: 2em;
	color:#bdc3c7 ;
}

.logo a span{

	font-weight: 400;
	color:black;

}

a:active{
	color: white;
	text-decoration: none !important;
	cursor:pointer;
}

div#container{

	width: 100%;
	
}

.sidebar{
	width:250px;
	height: 100% !important;
	background-color: #0288D1;
	float:left;
	
}
.content{
	width:100%;
	background-color: #fff;
	padding:5px;
	

}

ul#nav{



}

ul#nav li{
	list-style:none;

}
ul#nav li a{
	color: #ccc;
	display: block;
	padding: 15px;
	font-size: 0.8em;
		margin:15px;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;


}
ul#nav li a.selected {
	background-color: #ABB7B7;
	color: #fff;
	border-radius: 5px;


}
ul#nav li a:hover{
	background-color: #ABB7B7;
	border: 1px solid #ABB7B7;
	border-radius: 5px;

	color: #fff;
	padding-left: 30px;
}
